<nav class="navbar navbar-light bg-light navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/train.png" alt="image train" height="40">  TicketTac
    </a>
    <div class="navbar-nav">
      <a class="nav-link" href="/logout">Logout</a>
      <a class="nav-link" href="#">My last trips</a>
    </div>
  </div>
</nav>