body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(#C4DCE8, #3381B5);
}

h2{
  color: white;
  font-size: 1.5rem;
}

a {
  color: #00B7FF;
}

#footer{
  width: 100vw;
  display: flex;
  justify-content: center;
  color: lightgray;
}
.container{
  min-height: calc(100vh - 90px - 1rem);
}
.landmark{
  max-height: 50vh;
  width: auto;
}
.ml-2{
  margin-left: 2rem;
}